.popover-carts {
  .pop-cart-body {
    .pop-cart-content {
      display       : flex;
      flex-direction: column;
      gap           : 15px;

      .book {
        display: flex;
        gap    : 5px;

        img {
          width : 50px;
          height: 50px;
        }

        .price {
          color: #ee4d2d;
        }
      }
    }

    .pop-cart-footer {
      margin-top     : 10px;
      display        : flex;
      justify-content: end;

      button {
        background-color: #ee4d2d;
        color           : #fff;
        border          : 1px solid #ee4d2d;
        box-shadow      : 0 1px 1px #00000008;
        cursor          : pointer;
        border-radius   : 3px;
        font-size       : 16px;
        height          : 40px;
        padding         : 0 20px;
      }
    }
  }
}